
*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color:rgb(241, 241, 241);
}

#containerheader{
    background-color: white;
    height: 100px;
    line-height: 100px;
}

#logo-boolean{
    height: 60px;
    vertical-align: middle;
    max-height: 100px;
    padding-left: 20px;
    padding-bottom: 15px;
}

#scrittalogo{
    display: inline-block;
    font-size: 40px;
}

.titlelist{
    font-weight: bold;
    margin-bottom: -15px;
}

#containermain{
    border-radius: 10px;
    width: 70%;
    height: 700px;
    margin: auto;
    margin-top: 40px;
    background-color: white;
}

#topbutton{
    padding: 25px;
}

hr{
    border: 1px solid rgb(241, 241, 241);
}

.button{
    padding: 10px;
    border-radius: 5px; 
}

.addtask{
    background-color: rgb(66, 183, 255);
    color: white;
}

.addsection{
    color: grey;
    border: 1px solid grey
}

.containerlist{
    padding: 50px;
}

.ullist{
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
}

.rowpadding{
    padding-bottom: 10px;
    padding-top: 10px;
}

.iconcheck{
    border: 1px solid rgb(36, 187, 6);
    color: rgb(36, 187, 6);
    border-radius: 50%;
    padding: 3px;
    font-size: 10px;
}

.iconcross{
    border: 1px solid rgb(212, 11, 11);
    color: rgb(212, 11, 11);
    border-radius: 50%;
    padding: 3px;
    font-size: 10px;
}

.tag{
    
    padding: 5px;
    font-size: 10px;
    border-radius: 10px;
    color: white;
}

.editorial{
    background-color: rgb(77, 190, 255);
}

.goals{
    background-color: rgb(123, 14, 167);
}

.recruiting{
    background-color: teal;
}

.mobile{
    background-color: orange;
}

.website{
    background-color: orchid;
}

.sales{
    background-color: rgb(91, 173, 36);
}




